---
export interface Props {
  direction: "row" | "column" | "row-reverse" | "column-reverse";
}

const { direction = "column" } = Astro.props;
---

<div
  class="w-full h-full flex items-center justify-center"
  style={`flex-direction: ${direction};`}
>
  <slot />
</div>
